.preffered-companies-fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 0 32px 24px;

  border: none;

  background-color: var(--white);
}

@media (width < 450px) {
  .preffered-companies-fields-wrapper {
    padding: 0 16px 16px;
  }
}

.preffered-companies-text::first-letter {
  text-transform: uppercase;
}
