.sign-in-title {
  padding: 0 0 24px;

  text-align: center;
}

.sign-in-subtitle {
  max-width: 525px;

  color: var(--dark-gray);
  line-height: 150%;
  text-align: center;
}

.sign-in-header::after {
  content: '';

  display: block;

  width: 100%;
  height: 1px;
  margin: 24px 0;

  background-color: var(--light-gray);
}

@media (width <= 460px) {
  .sign-in-title {
    padding: 0 0 12px;

    font-size: 20px;
  }

  .sign-in-subtitle {
    max-width: 525px;

    font-size: 14px;
  }
}
