.shared-file-label {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 231px;

  background-color: var(--soft-gray);

  transition: height 0.3s ease;
}

.shared-file-label-with-preview {
  height: auto;
  padding: 16px;
}

.shared-file-label:hover {
  cursor: pointer;
}

.shared-file-label::before {
  position: absolute;
  inset: 12px;
  content: '';

  border: 1px dashed #0000001a;
}

.shared-file-icon {
  width: 32px;
  height: 32px;
}

.shared-file-input {
  display: none;
}

.shared-file-title {
  padding: 24px 0 8px;
}

.shared-file-subtitle {
  max-width: 378px;

  color: var(--dark-gray);
  text-align: center;
}

@media (width < 450px) {
  .shared-file-subtitle {
    font-size: 14px;
  }
}

.shared-file-preview-container {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding: 12px 16px;

  border-radius: 8px;

  background-color: var(--soft-gray);
}

.shared-file-preview {
  width: 56px;
  height: 56px;

  border-radius: 4px;

  object-fit: cover;
}

.shared-file-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  overflow: hidden;
}

.shared-file-name {
  color: var(--black);
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.shared-file-size {
  padding: 4px 0 0;

  color: #0006;
  font-size: 16px;
}

.shared-file-options {
  width: 24px;
  height: 24px;

  cursor: pointer;
}
