.admin-global-container {
  height: auto;
  min-height: 100vh;

  background-color: var(--light-gray);
}

.admin-global-wrapper {
  display: flex;
  gap: 32px;
  justify-content: space-between;

  height: 100%;
}

@media (width < 1180px) {
  .admin-global-wrapper {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}
