.student-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;

  margin: 0 0 30px;
}

.student-card:has(:only-child) {
  align-items: center;
}

.student-card-form {
  width: 100%;
  max-width: 660px;

  background-color: var(--gray);
}
