.employees-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 64px;
  margin-top: 32px;
  padding-right: 32px;
}

.employees-table-header-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.employees-table-header-title {
  font-weight: 600;
  font-size: 24px;
}

.employees-table-header-toolbar {
  display: flex;
  gap: 8px;
  align-items: center;
}

.employees-table-header-switch-btns {
  display: flex;
  gap: 4px;
}

@media (width <= 868px) {
  .employees-table-header {
    flex-direction: column;
    gap: 36px !important;

    margin-bottom: 128px;
  }

  .employees-table-header-content.responsive {
    flex-direction: row;
  }
}