.user-data {
  display: flex;
  align-items: center;

  padding: 0 0 16px;
}

.user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 64px;
  margin: 0 10px 0 0;
  padding: 20px;

  border-radius: 50%;

  background-color: #efefef;
}

.ser-avatar-icon {
  display: block;

  margin: 0;
}

.user-avatar > .user-avatar-photo {
  width: 64px;
  height: 64px;

  border-radius: 50%;
}

.user-name {
  font-size: 18px;
}

.user-email {
  color: var(--dark-gray);
}

.user-data-values {
  flex-grow: 1;
}

.user-options {
  border: none;

  background: none;
}

.user-options:hover {
  cursor: pointer;
}
