.shared-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (width <= 720px) {
  .shared-label {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

  .edit-mode-off {
    flex-direction: row;
  }
}
