.shared-select {
  flex-grow: 1;

  max-width: 360px;
  padding: 10px 16px;

  color: var(--dark-gray);
  font-size: 16px;

  border: 1px solid var(--border-dark-gray);

  background-color: var(--soft-gray);
  background-image: url('../../assets/icons/ArrowDownIcon.svg');
  background-repeat: no-repeat;
  background-position: 95% 55%;

  outline: none;

  appearance: none;
}

.shared-select:hover {
  cursor: pointer;
}
