@import url('./font.config.css');

:root {
  --black: #000;
  --light-gray: #ebebec;
  --white: #fff;
  --dark-gray: #0000008f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter, sans-serif;
}
