.gender-options {
  display: flex;
  gap: 12px;
}

@media (width < 720px) {
  .gender-options {
    justify-content: center;

    width: 100%;
  }
}

.gender-option {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 174px;
  padding: 8px 0;

  color: var(--dark-gray);

  border: 1px solid var(--border-dark-gray);

  background-color: var(--soft-gray);
}

@media (width < 720px) {
  .gender-option {
    width: 100%;
  }
}

.gender-option.active {
  color: var(--white);

  background-color: #565353;
}

.gender-option:hover {
  cursor: pointer;
}

.gender-option > input {
  display: none;
}

label > span.gender-value::first-letter {
  text-transform: uppercase;
}
