.checkbox-wrapper {
  margin: 20px 32px;
  padding: 20px 0 20px 16px;

  background-color: #f4f4f4;
}

.checkbox-input {
  width: 16px;
  height: 16px;

  accent-color: var(--black);

  outline: none;
}

.checkbox-label {
  display: flex;
  gap: 14px;
  align-items: center;
}
