.shared-img-preview-container {
  display: flex;
  gap: 16px;
  align-items: center;

  padding: 8px;

  background-color: var(--soft-gray);
}

.shared-img-preview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 72px;
  height: 72px;

  background-color: var(--white);
}

.shared-img-preview {
  width: 52px;
  height: 37px;
}

.shared-img-preview:hover {
  cursor: pointer;
}

.shared-img-preview-name-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
}

.shared-img-preview-size {
  color: #0006;
  font-size: 14px;
}

.shared-img-preview-download-icon {
  padding-right: 16px;
}

.shared-img-preview-download-icon:hover {
  cursor: pointer;
}

.shared-img-lightbox {
  position: fixed;
  inset: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(0 0 0 / 70%);

  cursor: zoom-out;
}

.shared-img-lightbox-img {
  max-width: 90%;
  max-height: 90%;

  border-radius: 12px;

  box-shadow: 0 4px 20px rgb(0 0 0 / 50%);
}
