.user-documents-header {
  position: relative;

  display: flex;
  align-items: center;

  height: 56px;
}

.user-documents-header-button {
  position: absolute;
  left: 16px;

  border: none;

  background: none;

  outline: none;

  cursor: pointer;
}

.user-documents-header-title {
  position: absolute;
  left: 50%;

  font-weight: 500;
  font-size: 16px;

  transform: translateX(-50%);
}
